<h1>Enter an amount in as number of pennies</h1>

<form action="/change_returned">
  <div class="form-group">
    <label for="number">Enter an amount</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Change, please!</button>
</form>
